In [1]:
library("tidyverse")

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──
✔ ggplot2 3.2.1     ✔ purrr   0.3.3
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   1.0.0     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
library(nycflights13)

In [3]:
print(flights)
head(flights, 5)
tail(flights, 5)
sample_n(flights, 5)

# A tibble: 336,776 x 19
    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
 1  2013     1     1      517            515         2      830            819
 2  2013     1     1      533            529         4      850            830
 3  2013     1     1      542            540         2      923            850
 4  2013     1     1      544            545        -1     1004           1022
 5  2013     1     1      554            600        -6      812            837
 6  2013     1     1      554            558        -4      740            728
 7  2013     1     1      555            600        -5      913            854
 8  2013     1     1      557            600        -3      709            723
 9  2013     1     1      557            600        -3      838            846
10  2013     1     1      558            600        -2      753            745
# … with 336,766 more rows, and 11 more variables: arr_delay <dbl>,
#   carrier <chr>, flight <int>, tailnum <chr>, origin <chr>, dest <chr>,
#   air_time <dbl>, distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dttm>

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 9     30  NA       1455           NA        NA       1634
2 2013 9     30  NA       2200           NA        NA       2312
3 2013 9     30  NA       1210           NA        NA       1330
4 2013 9     30  NA       1159           NA        NA       1344
5 2013 9     30  NA        840           NA        NA       1020
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 NA        9E      3393   NA      JFK    DCA  NA       213      14   55
2 NA        9E      3525   NA      LGA    SYR  NA       198      22    0
3 NA        MQ      3461   N535MQ  LGA    BNA  NA       764      12   10
4 NA        MQ      3572   N511MQ  LGA    CLE  NA       419      11   59
5 NA        MQ      3531   N839MQ  LGA    RDU  NA       431       8   40
  time_hour
1 2013-09-30 14:00:00
2 2013-09-30 22:00:00
3 2013-09-30 12:00:00
4 2013-09-30 11:00:00
5 2013-09-30 08:00:00

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013  1    30   555      600           -5         711      730
2 2013 11    18  1734     1740           -6        2057     2118
3 2013  9     6  1537     1545           -8        1715     1723
4 2013  4     8  1310     1315           -5        1501     1501
5 2013  5    15  1159     1200           -1        1320     1338
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 -19       WN      3223   N454WN  LGA    MDW  118       725      6    0
2 -21       B6       135   N709JB  JFK    PHX  304      2153     17   40
3  -8       EV      5293   N741EV  LGA    ORF   70       296     15   45
4   0       US      1895   N543UW  EWR    CLT   80       529     13   15
5 -18       UA       394   N467UA  LGA    ORD  115       733     12    0
  time_hour
1 2013-01-30 06:00:00
2 2013-11-18 17:00:00
3 2013-09-06 15:00:00
4 2013-04-08 13:00:00
5 2013-05-15 12:00:00

### Q1 (4 points): Make the flights data messy and write the result into a csv file named "flights_messy.csv".

In [4]:
messy <- flights %>% unite('date', year:day, sep = "/") %>%
                unite('carrier_flight', carrier:flight, sep = "_") %>%
                pivot_wider(names_from = origin, values_from = dest)

In [5]:
print(messy)
head(messy, 5)
tail(messy, 5)
sample_n(messy, 5)

# A tibble: 336,776 x 17
   date  dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay
   <chr>    <int>          <int>     <dbl>    <int>          <int>     <dbl>
 1 2013…      517            515         2      830            819        11
 2 2013…      533            529         4      850            830        20
 3 2013…      542            540         2      923            850        33
 4 2013…      544            545        -1     1004           1022       -18
 5 2013…      554            600        -6      812            837       -25
 6 2013…      554            558        -4      740            728        12
 7 2013…      555            600        -5      913            854        19
 8 2013…      557            600        -3      709            723       -14
 9 2013…      557            600        -3      838            846        -8
10 2013…      558            600        -2      753            745         8
# … with 336,766 more rows, and 10 more variables: carrier_flight <chr>,
#   tailnum <chr>, air_time <dbl>, distance <dbl>, hour <dbl>, minute <dbl>,
#   time_hour <dttm>, EWR <chr>, LGA <chr>, JFK <chr>

  date     dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay
1 2013/1/1 517      515             2         830      819            11
2 2013/1/1 533      529             4         850      830            20
3 2013/1/1 542      540             2         923      850            33
4 2013/1/1 544      545            -1        1004     1022           -18
5 2013/1/1 554      600            -6         812      837           -25
  carrier_flight tailnum air_time distance hour minute time_hour           EWR
1 UA_1545        N14228  227      1400     5    15     2013-01-01 05:00:00 IAH
2 UA_1714        N24211  227      1416     5    29     2013-01-01 05:00:00 NA
3 AA_1141        N619AA  160      1089     5    40     2013-01-01 05:00:00 NA
4 B6_725         N804JB  183      1576     5    45     2013-01-01 05:00:00 NA
5 DL_461         N668DN  116       762     6     0     2013-01-01 06:00:00 NA
  LGA JFK
1 NA  NA
2 IAH NA
3 NA  MIA
4 NA  BQN
5 ATL NA

  date      dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay
1 2013/9/30 NA       1455           NA        NA       1634           NA
2 2013/9/30 NA       2200           NA        NA       2312           NA
3 2013/9/30 NA       1210           NA        NA       1330           NA
4 2013/9/30 NA       1159           NA        NA       1344           NA
5 2013/9/30 NA        840           NA        NA       1020           NA
  carrier_flight tailnum air_time distance hour minute time_hour           EWR
1 9E_3393        NA      NA       213      14   55     2013-09-30 14:00:00 NA
2 9E_3525        NA      NA       198      22    0     2013-09-30 22:00:00 NA
3 MQ_3461        N535MQ  NA       764      12   10     2013-09-30 12:00:00 NA
4 MQ_3572        N511MQ  NA       419      11   59     2013-09-30 11:00:00 NA
5 MQ_3531        N839MQ  NA       431       8   40     2013-09-30 08:00:00 NA
  LGA JFK
1 NA  DCA
2 SYR NA
3 BNA NA
4 CLE NA
5 RDU NA

  date      dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay
1 2013/1/28 1512     1459           13        1637     1625            12
2 2013/7/22 1115     1025           50        1321     1225            56
3 2013/6/21 1054     1057           -3        1327     1338           -11
4 2013/5/13 1536     1455           41        1735     1649            46
5 2013/7/16 2106     2114           -8        2339     2358           -19
  carrier_flight tailnum air_time distance hour minute time_hour           EWR
1 B6_12          N273JB   49       209     14   59     2013-01-28 14:00:00 NA
2 MQ_3689        N502MQ   83       502     10   25     2013-07-22 10:00:00 NA
3 UA_1166        N16713  181      1400     10   57     2013-06-21 10:00:00 IAH
4 EV_4326        N16951   90       529     14   55     2013-05-13 14:00:00 CLT
5 UA_1178        N37267  166      1400     21   14     2013-07-16 21:00:00 IAH
  LGA JFK
1 NA  SYR
2 DTW NA
3 NA  NA
4 NA  NA
5 NA  NA

In [6]:
write_csv(messy,'flights_messy.csv')

### Q2 (6 points): Read "flights_messy.csv" and make the data tidy.

In [7]:
tidy <- read_csv("flights_messy.csv")

Parsed with column specification:
cols(
  date = col_character(),
  dep_time = col_double(),
  sched_dep_time = col_double(),
  dep_delay = col_double(),
  arr_time = col_double(),
  sched_arr_time = col_double(),
  arr_delay = col_double(),
  carrier_flight = col_character(),
  tailnum = col_character(),
  air_time = col_double(),
  distance = col_double(),
  hour = col_double(),
  minute = col_double(),
  time_hour = col_datetime(format = ""),
  EWR = col_character(),
  LGA = col_character(),
  JFK = col_character()
)

In [8]:
print(tidy)
head(tidy, 5)
tail(tidy, 5)
sample_n(tidy, 5)

# A tibble: 336,776 x 17
   date  dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay
   <chr>    <dbl>          <dbl>     <dbl>    <dbl>          <dbl>     <dbl>
 1 2013…      517            515         2      830            819        11
 2 2013…      533            529         4      850            830        20
 3 2013…      542            540         2      923            850        33
 4 2013…      544            545        -1     1004           1022       -18
 5 2013…      554            600        -6      812            837       -25
 6 2013…      554            558        -4      740            728        12
 7 2013…      555            600        -5      913            854        19
 8 2013…      557            600        -3      709            723       -14
 9 2013…      557            600        -3      838            846        -8
10 2013…      558            600        -2      753            745         8
# … with 336,766 more rows, and 10 more variables: carrier_flight <chr>,
#   tailnum <chr>, air_time <dbl>, distance <dbl>, hour <dbl>, minute <dbl>,
#   time_hour <dttm>, EWR <chr>, LGA <chr>, JFK <chr>

  date     dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay
1 2013/1/1 517      515             2         830      819            11
2 2013/1/1 533      529             4         850      830            20
3 2013/1/1 542      540             2         923      850            33
4 2013/1/1 544      545            -1        1004     1022           -18
5 2013/1/1 554      600            -6         812      837           -25
  carrier_flight tailnum air_time distance hour minute time_hour           EWR
1 UA_1545        N14228  227      1400     5    15     2013-01-01 10:00:00 IAH
2 UA_1714        N24211  227      1416     5    29     2013-01-01 10:00:00 NA
3 AA_1141        N619AA  160      1089     5    40     2013-01-01 10:00:00 NA
4 B6_725         N804JB  183      1576     5    45     2013-01-01 10:00:00 NA
5 DL_461         N668DN  116       762     6     0     2013-01-01 11:00:00 NA
  LGA JFK
1 NA  NA
2 IAH NA
3 NA  MIA
4 NA  BQN
5 ATL NA

  date      dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay
1 2013/9/30 NA       1455           NA        NA       1634           NA
2 2013/9/30 NA       2200           NA        NA       2312           NA
3 2013/9/30 NA       1210           NA        NA       1330           NA
4 2013/9/30 NA       1159           NA        NA       1344           NA
5 2013/9/30 NA        840           NA        NA       1020           NA
  carrier_flight tailnum air_time distance hour minute time_hour           EWR
1 9E_3393        NA      NA       213      14   55     2013-09-30 18:00:00 NA
2 9E_3525        NA      NA       198      22    0     2013-10-01 02:00:00 NA
3 MQ_3461        N535MQ  NA       764      12   10     2013-09-30 16:00:00 NA
4 MQ_3572        N511MQ  NA       419      11   59     2013-09-30 15:00:00 NA
5 MQ_3531        N839MQ  NA       431       8   40     2013-09-30 12:00:00 NA
  LGA JFK
1 NA  DCA
2 SYR NA
3 BNA NA
4 CLE NA
5 RDU NA

  date       dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013/12/8  1851     1830            21       2226     2124
2 2013/6/23  1946     1955            -9       2153     2145
3 2013/10/11 2312     2057           135         27     2236
4 2013/10/17 2000     2001            -1       2238     2249
5 2013/7/17  1607     1559             8       1755     1739
  arr_delay carrier_flight tailnum air_time distance hour minute
1  62       B6_183         N624JB  138      944      18   30
2   8       MQ_3573        N735MQ   72      479      19   55
3 111       EV_5048        N744EV   52      292      20   57
4 -11       B6_1083        N585JB  132      944      20    1
5  16       EV_5841        N14950  127      872      15   59
  time_hour           EWR LGA JFK
1 2013-12-08 23:00:00 NA  NA  MCO
2 2013-06-23 23:00:00 NA  CMH NA
3 2013-10-12 00:00:00 NA  RIC NA
4 2013-10-18 00:00:00 NA  NA  MCO
5 2013-07-17 19:00:00 STL NA  NA

In [9]:
final <- tidy %>% separate(date, c("year", "month", "day"), sep = "/") %>%
                  separate(carrier_flight, c("carrier", "flight"), sep = "_") %>%
                  pivot_longer(cols = c(`EWR`, `LGA`, `JFK`), names_to = "origin",
                               values_to = "dest", values_drop_na = TRUE) %>%
                  type_convert()

Parsed with column specification:
cols(
  year = col_double(),
  month = col_double(),
  day = col_double(),
  carrier = col_character(),
  flight = col_double(),
  tailnum = col_character(),
  origin = col_character(),
  dest = col_character()
)

In [10]:
print(final)
head(final, 5)
tail(final, 5)
sample_n(final, 5)

# A tibble: 336,776 x 19
    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <dbl> <dbl> <dbl>    <dbl>          <dbl>     <dbl>    <dbl>          <dbl>
 1  2013     1     1      517            515         2      830            819
 2  2013     1     1      533            529         4      850            830
 3  2013     1     1      542            540         2      923            850
 4  2013     1     1      544            545        -1     1004           1022
 5  2013     1     1      554            600        -6      812            837
 6  2013     1     1      554            558        -4      740            728
 7  2013     1     1      555            600        -5      913            854
 8  2013     1     1      557            600        -3      709            723
 9  2013     1     1      557            600        -3      838            846
10  2013     1     1      558            600        -2      753            745
# … with 336,766 more rows, and 11 more variables: arr_delay <dbl>,
#   carrier <chr>, flight <dbl>, tailnum <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>, origin <chr>, dest <chr>

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
  arr_delay carrier flight tailnum air_time distance hour minute
1  11       UA      1545   N14228  227      1400     5    15
2  20       UA      1714   N24211  227      1416     5    29
3  33       AA      1141   N619AA  160      1089     5    40
4 -18       B6       725   N804JB  183      1576     5    45
5 -25       DL       461   N668DN  116       762     6     0
  time_hour           origin dest
1 2013-01-01 10:00:00 EWR    IAH
2 2013-01-01 10:00:00 LGA    IAH
3 2013-01-01 10:00:00 JFK    MIA
4 2013-01-01 10:00:00 JFK    BQN
5 2013-01-01 11:00:00 LGA    ATL

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 9     30  NA       1455           NA        NA       1634
2 2013 9     30  NA       2200           NA        NA       2312
3 2013 9     30  NA       1210           NA        NA       1330
4 2013 9     30  NA       1159           NA        NA       1344
5 2013 9     30  NA        840           NA        NA       1020
  arr_delay carrier flight tailnum air_time distance hour minute
1 NA        9E      3393   NA      NA       213      14   55
2 NA        9E      3525   NA      NA       198      22    0
3 NA        MQ      3461   N535MQ  NA       764      12   10
4 NA        MQ      3572   N511MQ  NA       419      11   59
5 NA        MQ      3531   N839MQ  NA       431       8   40
  time_hour           origin dest
1 2013-09-30 18:00:00 JFK    DCA
2 2013-10-01 02:00:00 LGA    SYR
3 2013-09-30 16:00:00 LGA    BNA
4 2013-09-30 15:00:00 LGA    CLE
5 2013-09-30 12:00:00 LGA    RDU

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013  8    17  1657     1655             2       1936     2005
2 2013  1     3  1533     1530             3       1846     1838
3 2013  4    30  2004     2008            -4       2223     2314
4 2013 11    21  1738     1725            13       2040     2028
5 2013  8    22  1745     1555           110       2025     1904
  arr_delay carrier flight tailnum air_time distance hour minute
1 -29       VX       413   N640VA  320      2475     16   55
2   8       UA      1624   N77258  162      1065     15   30
3 -51       UA       370   N407UA  184      1504     20    8
4  12       UA       475   N415UA  200      1400     17   25
5  81       DL      2407   N3746H  124       944     15   55
  time_hour           origin dest
1 2013-08-17 20:00:00 JFK    LAX
2 2013-01-03 20:00:00 EWR    FLL
3 2013-05-01 00:00:00 EWR    AUS
4 2013-11-21 22:00:00 EWR    IAH
5 2013-08-22 19:00:00 JFK    MCO

In [15]:
final$year <- final$year %>% as.integer(final$year)
final$month <- final$month %>% as.integer(final$month)
final$day <- final$day %>% as.integer(final$day)
final$dep_time <- final$dep_time %>% as.integer(final$dep_time)
final$sched_dep_time <- final$sched_dep_time %>% as.integer(final$sched_dep_time)
final$arr_time <- final$arr_time %>% as.integer(final$arr_time)
final$sched_arr_time <- final$sched_arr_time %>% as.integer(final$sched_arr_time)
final$flight <- final$flight %>% as.integer(final$flight)
final$flight <- final$flight %>% as.integer(final$flight)

In [16]:
print(final)
head(final, 5)
tail(final, 5)
sample_n(final, 5)

# A tibble: 336,776 x 19
    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
 1  2013     1     1      517            515         2      830            819
 2  2013     1     1      533            529         4      850            830
 3  2013     1     1      542            540         2      923            850
 4  2013     1     1      544            545        -1     1004           1022
 5  2013     1     1      554            600        -6      812            837
 6  2013     1     1      554            558        -4      740            728
 7  2013     1     1      555            600        -5      913            854
 8  2013     1     1      557            600        -3      709            723
 9  2013     1     1      557            600        -3      838            846
10  2013     1     1      558            600        -2      753            745
# … with 336,766 more rows, and 11 more variables: arr_delay <dbl>,
#   carrier <chr>, flight <int>, tailnum <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>, origin <chr>, dest <chr>

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
  arr_delay carrier flight tailnum air_time distance hour minute
1  11       UA      1545   N14228  227      1400     5    15
2  20       UA      1714   N24211  227      1416     5    29
3  33       AA      1141   N619AA  160      1089     5    40
4 -18       B6       725   N804JB  183      1576     5    45
5 -25       DL       461   N668DN  116       762     6     0
  time_hour           origin dest
1 2013-01-01 10:00:00 EWR    IAH
2 2013-01-01 10:00:00 LGA    IAH
3 2013-01-01 10:00:00 JFK    MIA
4 2013-01-01 10:00:00 JFK    BQN
5 2013-01-01 11:00:00 LGA    ATL

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 9     30  NA       1455           NA        NA       1634
2 2013 9     30  NA       2200           NA        NA       2312
3 2013 9     30  NA       1210           NA        NA       1330
4 2013 9     30  NA       1159           NA        NA       1344
5 2013 9     30  NA        840           NA        NA       1020
  arr_delay carrier flight tailnum air_time distance hour minute
1 NA        9E      3393   NA      NA       213      14   55
2 NA        9E      3525   NA      NA       198      22    0
3 NA        MQ      3461   N535MQ  NA       764      12   10
4 NA        MQ      3572   N511MQ  NA       419      11   59
5 NA        MQ      3531   N839MQ  NA       431       8   40
  time_hour           origin dest
1 2013-09-30 18:00:00 JFK    DCA
2 2013-10-01 02:00:00 LGA    SYR
3 2013-09-30 16:00:00 LGA    BNA
4 2013-09-30 15:00:00 LGA    CLE
5 2013-09-30 12:00:00 LGA    RDU

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013  7    25  1110     1110             0       1413     1413
2 2013  2    19  1604     1538            26       1932     1857
3 2013  1     3  1920     1920             0       2158     2258
4 2013  7     1  2120     1930           110          7     2222
5 2013 11     4  1448     1450            -2       1733     1745
  arr_delay carrier flight tailnum air_time distance hour minute
1   0       DL      1875   N318US  147      1010     11   10
2  35       B6       137   N630JB  166      1074     15   38
3 -60       DL         6   N3768   250      1990     19   20
4 105       DL      1485   N394DA  142       950     19   30
5 -12       UA       370   N474UA  131       937     14   50
  time_hour           origin dest
1 2013-07-25 15:00:00 LGA    TPA
2 2013-02-19 20:00:00 JFK    RSW
3 2013-01-04 00:00:00 JFK    SLC
4 2013-07-01 23:00:00 LGA    MCO
5 2013-11-04 19:00:00 EWR    MCO

### END.